#OS X
.DS_Store
.Trashes
*.swp

#Project
.build
Packages
db/

#Xcode
*~.nib
*.xcodeproj
*.xcworkspace
DerivedData/
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
profile
*.moved-aside
*.hmap
*.ipa
