<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>{{title}}</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/includes/slick.css"/>
		<link rel="stylesheet" type="text/css" href="/includes/slick-theme.css"/>
		<link rel="stylesheet" href="/styles/style.css">
	</head>

	<body>
		<header>
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<a href="/"><img src="/images/logo@2x.png" class="logo img-responsive" id="header-logo" /></a>
					</div>
					<div class="col-sm-6 text-right">
						<nav>
							<ul>
								<li><a href="/">Home</a></li>
								<li><a href="/blog">Blog</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</header>
