{{>header}}

  <section id="content">
    <div class="container">
      <div class="row">
        <div class="banner center-block">
          <div><img src="/images/banner@2x.png" alt="Swift Based Blog" class="img-responsive banner center-block" /></div>
           <div><img src="/images/random/random-1.jpg" alt="Swift Based Blog" class="img-responsive banner center-block" /></div>
           <div><img src="/images/random/random-2.jpg" alt="Swift Based Blog" class="img-responsive banner center-block" /></div>
           <div><img src="/images/random/random-3.jpg" alt="Swift Based Blog" class="img-responsive banner center-block" /></div>
           <div><img src="/images/random/random-4.jpg" alt="Swift Based Blog" class="img-responsive banner center-block" /></div>
           <div><img src="/images/random/random-5.jpg" alt="Swift Based Blog" class="img-responsive banner center-block" /></div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <h1>{{post_title}}</h1>
          <img src="{{featuredImageURI}}" alt="{{featuredImageAltText}}" class="alignleft feature-image img-responsive" />
          <div class="content">{{{post_content}}}</div>
        </div>
      </div>
    </div>
  </section>

{{>footer}}
